/* /* Silvia Suárez Prendes, UO277412

/*Selector Specificity: (0, 0, 1)*/
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



/*Selector Specificity: (0, 0, 1)*/
form {
    /* grid layout */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0.25em;

    padding: 0.25em;
    background-color: rgb(191, 191, 191);
    min-height: 95vh;
}

label {
    text-align: left;

    color: rgb(0, 0, 0);

    grid-column: span 5;
    font-size: 1.5em;
    height: 1em;
}

label[name="memoria"] {
    text-align: right;

    color: rgb(0, 0, 0);

    grid-column: span 1;
    font-size: 1.5em;
    height: 1em;
}

/*Selector Specificity: (0, 1, 1)*/
input[type=text][name="pantalla"] {
    grid-column: span 5;
    color: black;
    border: none;
    text-align: right;
    font-size: 2em;
    align-self: center;
}

/*Selector Specificity: (0, 1, 1)*/
input[type=text][name="pantallaMemoria"] {
    color: black;
    border: none;
    text-align: center;
    font-size: 0.8em;
}

/*Selector Specificity: (0, 1, 1)*/
input[type=text]{
    background-color: rgb(191, 191, 191);
    border:  rgb(191, 191, 191);
}

/*Selector Specificity: (0, 1, 1)*/
input[type=button] {
    background-color: rgb(210, 209, 209);
    font-size: 1.25em;
    text-align: center;
}

/* BOTONES NUMÉRICOS */
/*Selector Specificity: (0, 2, 1)*/
input[type=button][value="1"],
input[type=button][value="2"],
input[type=button][value="3"],
input[type=button][value="4"],
input[type=button][value="5"],
input[type=button][value="6"],
input[type=button][value="7"],
input[type=button][value="8"],
input[type=button][value="9"] {
    background-color: rgba(240, 240, 255);
}

/*Selector Specificity: (0, 1, 1)*/
input[type=submit] {
    visibility: hidden;
}